

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

#video-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    z-index: 100;
    transition: opacity 0.3s ease;
    opacity: 1;
}

#video-controls.hidden {
    opacity: 0;
    pointer-events: none;
}

#progress-container {
    width: 100%;
    height: 4px;
    background-color: #00d29a55;
    cursor: pointer;
}

#progress-bar {
    height: 100%;
    background-color: #ff8400; /* #d20054;  #ffbf00; 00d29a; */
    width: 0%;
    transition: width 0.1s;
}

#video-time {
    color: white;
    font-family: monospace;
    font-size: 12px;
    text-align: right;
}